/*step:1parentContainer*/
.header{
    background-color: #649db1;
}
/*Step2:component*/
.gallery{
    background-color: darkmagenta;
}
 /*Step3:componentContainer*/
 .galleryContainer{
   background-color: darkslateblue;
 }
 /*step4:row*/
 .headingBody{
    background-color: cadetblue;
 }
 /*step5:column1*/
 .galleryBlock{
   background-color: aquamarine;
 }
/*step6:subColumn*/
.galleryBox{
   background-color: bisque;
}
/*step7:contentContainer*/
.galleryBoxFigure{
   background-color: bisque;
}
.galleryBoxFigure img{
   background-color: bisque;
}
/*step4:row2*/
.galleryBody{
  background-color: darkturquoise;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* column-gap: 1rem; */
  /* row-gap: 1rem; */
  gap: 1rem;
  padding: 0rem 2rem;
}
/*step5:column1*/
.tastelock{
  background-color: aquamarine;
}
/*step6:subColumn1*/
.cardBox{
  background-color: bisque;
  display: flex;
  flex-direction: column; /* makes top to bottom align */
  align-items: center; /* Behaves like a justify-content */
  justify-content: center; /* Behaves like a align-items */
  text-align: center;
}
/*step7:contentContainer*/
.cardBoxFigure{
   background-color: bisque;
}
.cardBoxFigure img{
   background-color: bisque;
}
/*step5:column2*/
.loveBlock{
  background-color: aquamarine;
}
/*step6:subColumn2*/
.cardBox{
  background-color: bisque;
  display: flex;
  flex-direction: column; /* makes top to bottom align */
  align-items: center; /* Behaves like a justify-content */
  justify-content: center; /* Behaves like a align-items */
  text-align: center;
}
/*step7:contentContainer*/
.cardBoxFigure{
   background-color: bisque;
}
.cardBoxFigure img{
   background-color: bisque;
}
/*step5:column3*/
.creamBlock{
  background-color: aquamarine;
}
/*step6:subColumn3*/
.cardBox{
  background-color: bisque;
  display: flex;
  flex-direction: column; /* makes top to bottom align */
  align-items: center; /* Behaves like a justify-content */
  justify-content: center; /* Behaves like a align-items */
  text-align: center;
}
/*step7:contentContainer*/
.cardBoxFigure{
   background-color: bisque;
}
.cardBoxFigure img{
   background-color: bisque;
}
/*step5:column4*/
.brownBlock{
  background-color: aquamarine;
}
/*step6:subColumn4*/
.cardBox{
  background-color: bisque;
  display: flex;
  flex-direction: column; /* makes top to bottom align */
  align-items: center; /* Behaves like a justify-content */
  justify-content: center; /* Behaves like a align-items */
  text-align: center;
}
/*step7:contentContainer*/
.cardBoxFigure{
   background-color: bisque;
}
.cardBoxFigure img{
   background-color: bisque;
}
/*step5:column5*/
.happyBlock{
  background-color: aquamarine;
}
/*step6:subColumn5*/
.cardBox{
  background-color: bisque;
  display: flex;
  flex-direction: column; /* makes top to bottom align */
  align-items: center; /* Behaves like a justify-content */
  justify-content: center; /* Behaves like a align-items */
  text-align: center;
}
/*step7:contentContainer*/
.cardBoxFigure{
   background-color: bisque;
}
.cardBoxFigure img{
   background-color: bisque;
}
/*step5:column6*/
.powderBlock{
  background-color: aquamarine;
}
/*step6:subColumn6*/
.cardBox{
  background-color: bisque;
  display: flex;
  flex-direction: column; /* makes top to bottom align */
  align-items: center; /* Behaves like a justify-content */
  justify-content: center; /* Behaves like a align-items */
  text-align: center;
}
/*step7:contentContainer*/
.cardBoxFigure{
   background-color: bisque;
}
.cardBoxFigure img{
   background-color: bisque;
}